*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Libre Franklin', sans-serif;
  font-size: 18px;
  line-height: 1.8em;
  background-color: #f8f8f8;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.5em;
  line-height: 1.3em;
  font-weight: normal;
  font-style: normal;
}

a:link,
a:visited {
  color: #5D6063;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.main-header{
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 10px 50px;
  background: #ffffff;
  box-shadow: 0 2px 0 rgba(93, 96, 99, .1);
}
.logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-name>li{
  display: inline;
  margin-left: 20px;
}
.menu > li {
  display: inline;
  margin-right: 50px;
}

.menu > li:last-of-type {
  margin-right: 0;
}

.welcome{
  width: 100%;
  background-color: #d3d3d3;
  padding: 4em 2em;
  text-align: center;
  border-bottom: 2px ridge grey;
}

.description {
  max-width: 720px;
  text-align: justify;

  margin: auto;
  margin-top: 100px;
  padding: 4em 1em;
  border-bottom: 1px solid grey;
}
.image{
  padding: 1em;
  margin: auto;
  max-width: 720px;
  text-align: center;
}
.quote{
  margin: 1em auto;
  padding: 2em 1em;
  max-width: 720px;
  border-left: 5px solid grey;
  background: #eeeeee;
}

q{
  font-style: italic;
  quotes: """ """ "'" "'";
}
q::before {
    content: open-quote;
}
q::after {
    content: close-quote;
}

.table{
  max-width: 720px;
  margin: 1em auto;
  padding: 2em 0em;
}
table, th, td {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
}
.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  border-top: 1px solid grey;
  background-color: #ffffff;
  padding: 0.5em 1em 0 1em;
}
.social{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.social>a{
  margin-right: 1em;
}
.social>a:last-of-type{
  margin-right: 0;
}
@media only screen and (max-width: 600px){
  .main-header{
    display: none;
  }
}
@media only screen and (min-width: 750px){
  .description{
    padding: 2em 2em;
    border: 1px solid grey;
  }
}
